<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SocialNetwork" connectionString="Server=(localdb)\MSSQLLocalDB;Database=SocialNetwork;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>